body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 0;
}

.wrapper {
	position: absolute;
	min-width: 100%;
	background: rgb(235, 237, 237);
	min-height: 100%
}

.form-box {
	position: relative;
	width: 25rem;
	margin: 50px auto;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 30px 0px;
	background: rgb(243, 244, 244);
	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4), -7px 0 20px rgba(0, 0, 0, 0.4);
}

.form-element {
	width: 100%;
}

.h2 {
	text-align: center;
	font-size: 2rem;
}

.radio-box {
	margin: 20px 0 0 0;
}

.input-name {
	margin: 20px 0 5px 0;
	font-size: 1.2rem;
}

[type="radio"] {
	display: none;
}

.radio-button {
	display: block;
	cursor: pointer;
	min-width: 100%;
}

.radio-button div {
	display: inline-block;
	width: .8rem;
	height: .8rem;
	border-radius: 100px;
	border: 1px solid #dc112e;
	text-align: center;
}

.radio-button div p {
	display: inline-block;
	width: 34%;
	height: 34%;
	margin: 30% auto;
}

.radio-button span {
	margin: 0 0 0 5px;
	font-size: 1rem;
}

[type="radio"]:checked+div p {
	background-color: #dc112e;
	border-radius: 100px;
	display: block;
}

.button {
	background: linear-gradient(rgb(220, 17, 46), 	rgb(240, 58, 83));
	width: 60%;
	margin: 100px auto 0 auto;
	height: 40px;
	text-align: center;
	user-select: none;
	outline: none;
	font-size: 1.2em;
	padding: 0.5rem 0 0 0;
	color: rgb(232, 232, 232);
	border-radius: 10px;
	box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.7), -1px -1px 7px rgba(0, 0, 0, 0.7);
}

.button:hover {
	background: rgb(206, 16, 43);
	cursor: pointer;
}

.button:active {
	background: rgb(136, 11, 28);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.joke {
	font-size: 0.8em;
	margin: 10px auto 0 auto;
	text-align: center;
}

@media screen and (max-device-width: 800px) {
	.form-box {width: 90%;}
	.form-element {height: 90px; width: 100%; font-size: 3rem;}
	.h2 {font-size: 5rem;}
	.input-name {font-size: 2.5rem;}
	.radio-button {min-height: 0.8rem;}
	.radio-button div {width: 2rem; height: 2rem;}
	.radio-button span {font-size: 2rem;}
	.button {height: 6.3rem; font-size: 3em; padding: 1.3rem 0 0 0;}
	.joke {font-size: 1.6em;}
}
